# vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
package-lock.json
styles.css

#
srcs/__tests__/test_trie_stress.ts
srcs/samples/1000.ts
srcs/samples/5000.ts
srcs/samples/10000.ts
srcs/samples/20000.ts
srcs/samples/50000.ts
srcs/samples/100000.ts
srcs/samples/200000.ts
srcs/samples/400000.ts
